NEXT_PUBLIC_SITE_URL=https://abdulmunimportfolio.vercel.app
NEXT_PUBLIC_SANITY_PROJECT_ID=ids6txyg
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2026-09-09
SANITY_API_TOKEN=
SANITY_REVALIDATE_SECRET=
RESEND_API_KEY=
RESEND_FROM_EMAIL=Portfolio Contact <onboarding@resend.dev>
CONTACT_EMAIL=chmunim688@gmail.com
